*
{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

h1, span, p
{
    color: var(--branco);
}

body
{
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background: var(--preto);
}


.container {

    width: 300px;

    padding: 30px;
    margin: 0 auto;

    text-align: center;
    
    border: 1px solid var(--dourado);
    border-radius: 10px;

    box-shadow: 0 0 20px var(--dourado);
    
    background: var(--azul_escuro); 
}

.container h1
{
    margin-bottom:20px;
}


.form_div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--cinza_escuro);
}

input[type="text"],
input[type="password"]
{
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid var(--cinza_claro);
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button
{
    background: var(--azul_ciano);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover 
{
    background: var(--azul_ciano_escuro);
}

.login_link
{
    margin-top: 20px;
    font-size: 14px;
    color: var(--cinza_claro);
}

.login_link a
{
    color: var(--azul_ciano_escuro);
    text-decoration: none;
}

.login_link a:hover
{
    text-decoration: underline;
}