*
{
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
    
    color: var(--dourado);
}

p,a
{
    color: var(--preto);
}

body
{
    background: var(--preto);
}

main
{
    width: 1400px;
    height: 800px;

    margin: 50px auto;

    background: var(--azul_escuro);

    border: 4px solid var(--dourado);
    border-radius: 10px;
    
    box-shadow: 0 0 50px var(--dourado);
}

header
{
    width: 100%;
    height: 100px;

    padding: 10px;

    text-align: center;
}

.logoff
{
    width: 40px;
    height: 40px;
    
    display: flex;
    justify-content: flex-start;
}

.logoff img, a
{
    width: 40px;
    height: 40px;


}

a{
    text-decoration: none;
    color: inherit;
}

.container
{
    width: auto;
    height: auto;

    margin: 20px 20px 0px 20px;

    display: flex;
    justify-content: space-between;
    
    background-size: cover;
    
}


.container_comentario
{
    width: 20%;
    height: 500px;

    margin: 20px;
    padding: 10px;

    border: 4px solid var(--marrom);
    border-radius: 10px;

    background: var(--branco);
    
}

.comentarios
{
    width: 180px;
    height: 180px;

    margin: 10px auto;
    
    text-align: center;
}

.input_mensagem
{
    width: 100%;
    height: 50%;
    max-height: 100%;

    resize: horizontal;
    resize: vertical;

    border: 1px solid var(--preto);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.comentarios button
{
    width: 100px;
    height: 50px;
    
    margin: auto;
    
    border: 2px solid var(--preto);
    border-radius: 10px;

    transition: background-color 1s,border 1s, border-radius 0.5s;
}

.comentarios button:hover
{
    transform: scale(0.9);
    background: var(--cinza_claro);
    box-shadow: 0 0 10px var(--dourado);
}

.gif_aleatorio
{
    width: 150px;
    height: 150px;
    
    display: flex;

    margin: 10px;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid var(--preto);

    border-radius: 10px;
}

.container_chat
{
    width: 70%;
    height: 500px;

    overflow-y: scroll;
    overflow-x: hidden;

    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;

    background: var(--branco);

    border: 4px solid var(--marrom);
    border-radius: 10px 0 0 10px;
}



.container_chat_cell
{
    display: none;
}

.container_mensagem
{
    width: 100%;
    height: auto;

    margin:10px;

    border: 1px solid var(--preto);
    border-radius: 10px;
}

.usuario_data_chat
{
    width: 100%;
    height: 50%;
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    
    border-bottom: 1px solid var(--preto);
}

.mensagem_chat
{
    width: 50%;
    height: auto;
    
    word-wrap: break-word;
    overflow-wrap: break-word;

    margin-left: 10px;
    margin-right: 10px;
}

.mensagem_chat p
{
    width: 840px;
}

.aviso
{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic;

    color: var(--branco);

    margin: 1px 0 10px 0;
}