/* Celular */
@media (max-width: 900px)
{
    main
    {
        width: 90vw;
    }
        
        
    .container
    {
        margin: 0 auto;
    }


    .container_comentario
    {
        width: 90%;
        height: 550px;
    }
       
    
    .input_mensagem
    {
        max-height: 60%;
    }


    .gif_aleatorio
    {
        display: none;
    }
    
    
    .container_chat
    {
        display: none;
    }
    

    .container_chat_cell
    {
        width: 100%;
        height: 280px;
        
        display: flex;
        flex-direction: column;
        
        overflow-y: scroll;
        overflow-x: hidden;
        
        margin-top: 40px;
        padding-left: 20px;
        padding-right: 20px;

        border-top: 2px solid var(--preto);
        border-bottom: 2px solid var(--preto);
        border-right: 2px solid var(--preto);
        border-radius: 10px 0 0 10px;
    }
    

    .container_mensagem_cell
    {
        width: 100%;
        height: auto;

        margin: 10px;
        
        border: 1px solid var(--preto);
        border-radius: 10px;
    }
        
        
    .usuario_data_chat_cell
    {
        width: 100%;
        height: auto;
        
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        
        border-bottom: 1px solid var(--preto);
    }


    .mensagem_curtida_cell
    {
        width: 100%;
        height: auto;
        
        display: flex;
        flex-direction: row;
        
        border-bottom: 1px solid var(--preto);
    }


    .mensagem_chat_cell
    {
        width: 90%;
        height: auto;
        
        word-wrap: break-word;
        overflow-wrap: break-word;

        margin-left: 10px;
        margin-right: 10px;

        margin: 0 auto;
        
    }
}


/* Notbook */
@media (min-width: 900px) and (max-width: 1380px)
{
    main
    {
        width: 90vw;
        height: 90vh;

        margin: 30px auto;

        box-shadow: 0 0 30px var(--dourado);
    }
        
        
    .container
    {
        margin: 0 auto;
    }

    .container_comentario
    {
        height: 300px;
    }
        
    .input_mensagem
    {
        max-height: 40%;
        min-height: 20%;
    }
    
    .gif_aleatorio
    {
        width: 80px;
        height: 80px;
    }
    
    .container_chat
    {
        width: 80%;
        height: 300px;
        
        display: flex;
        flex-direction: column;
    }
        
        
    .usuario_data_chat
    {
        height: auto;
    }

    .mensagem_chat
    {
        width: 90%;
    }
}
