<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style/global.css')}}">
    <link rel="stylesheet" href="../static/style/global.css">
    <title>Feedback</title>
</head>
<body>
    <main>

        <header>

            <h1>Super Chat</h1>

        </header>

        <section class="container">

            <div class="container_comentario">

                <form class="comentarios" action="/post/mensagem" method="POST">
                    
                    <label>Usuário</label>
                    <br>
                    <input type="text" name="usuario">
                    <br>
                    <br>  
                    <label>Comentário</label>
                    <br>
                    <input type="text" name="mensagem">
    
                    
                    <button>Enviar</button>
    
                    <img src="../static/img/{{gif_html}}" alt="gif" class="gif">
    
                </form>
    
            </div>
    
    
            <div class="container_chat">

                
                {% for mensagem in mensagem_html %}

                  <p>{{mensagem.usuario}}{{mensagem.data_comentario}}</p>
                  <p>{{mensagem.comentario}}</p>

                {% endfor %}
    
            </div>

        </section>
        <span class="aviso"><marquee>⚠️Aviso⚠️, se um comentario for ter mais de 80 caracteres, este comentário não será enviado</marquee></span>
        
    </main>
</body>
</html>